<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 테이블마다 있어야 함. ResultSet, PreparedStatement 관련 내용 -->
<mapper namespace="doodoo.dao.board-mapper">
<!-- SQL 문장 저장 -->
	<select id="boardListData" resultType="MyBoardVO">
		SELECT * FROM myBoard
	</select>
	<select id="boardCount" resultType="int">
		SELECT count(*) FROM myBoard
	</select>
</mapper>